# Flutter/Dart
.dart_tool/
.packages
pubspec.lock
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Podfile.lock

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
macos/Podfile.lock

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
*.zip
